

#header {
  padding-top: 20px;
  margin: 0px auto 20px auto;
  h1 {
    font-size: 55px;
  }
}

#updates {
  text-align: center;
}

.newsfeed-menu {
  display: flex;
  justify-content: space-between;
}

.newsfeed-menu-left {
  width: 70%;
  margin-right: 8px;
  flex-grow: 1;
}

.newsfeed-menu-right {
  background-image: image-url('map_producers.svg');
  background-size: cover;
  background-position: center;
  color: $olive;
  padding: 30px 20px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}


.newsfeed-menu-products {
  height: 114px;
  background-image: image-url('apple.svg');
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.1);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;

  #products_search {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  p {
    color: white;
    padding-left: 15px;
    padding-right: 80px;
    position: absolute;
    top: 30px;
  }
}

.newsfeed-menu-options {
  display: flex;
  justify-content: space-between;
  a {
    flex-grow: 2;
  }
  div {
  background-color: #F2F2E7;
  height: 108px;
  border-radius: 20px;
  color: $olive;
  margin-top: 8px;
  }
}

.newsfeed-container {
  display: flex;
  flex-wrap: wrap;
}

.account {
  margin-right: 8px;
  padding: 15px 30px 15px 15px;
}


.favourite-products {
  padding: 15px 30px 15px 15px;
}


#producer_icon {
  margin-top: 10px;
}

#updates, #posts, #header {
  margin-bottom: 20px;
}
