.product-season {
  font-size: 16px;
  color: $gold;
  margin-left: 10px;

}

.product-content {
  font-size: 16px;
  margin-left: 10px;
}

.product-producer {

  h2 {
    color: $olive;
    font-size: 20px;
    text-align: center;
  }
}
