.products-index-icons {
  display: flex;
  justify-content: space-around;
}

.products-index-all-cards {
  display: flex;
  justify-content: space-around;
}

h3 {
  text-align: center;
}

.banner-featured-button {
  display: flex;
  position: relative;
  top: -80px;
  right: -100px;
}
.products-index-icons {
  margin-top: 10px;
}

