.products-index-icons-lis {
  display: flex;
  justify-content: space-around;
}

.products-index-all-cards {
  display: flex;
  justify-content: space-around;
}

.products-index-icons {
  margin-top: 10px;
}

.current_month {
  text-align: center;
}

.mytab-div {
  .nav-link {
    padding: 0 !important;
  }
}
