.row {
  display: flex-wrap;
  justify-content: space-around;
}

.producers-info {
  display: flex;
}


.producer-show {

  h2 {
    color: $olive;
    font-size: 20px;
    text-align: center;
  }
}

.updates {
  color: $olive;
  font-size: 20px;
  text-align: center;
}
