.updates {
  color: $olive;
  font-size: 20px;
  text-align: center;
}

.producer-show-all-posts {
  display: flex;
  justify-content: space-around;
  .btn {
    position: relative;
    top: 50px;
  }
}

