<div class="container-fluid">
  <div class="container">
    <div class="row">
      <%= render partial: 'shared/producer-card', collection: @producers, as: :producer, locals: { to_delete: true } %>
    </div>
  </div>
</div>


