<div class="container-fluid">
  <br>
  <h3 class="title">Favourite products</h3>
    <div class="container">
      <div class="row">
        <%= render partial: 'shared/product-card', collection: @products, as: :product, locals: { to_delete: true } %>
      </div>
    </div>
</div>

