<div class="banner">
  <div class="banner-featured">
    <h1><%= @new_season_product.name.capitalize %> season is coming soon! </h1>
    <%= image_tag @new_season_product.photo , class:"banner-featured-img" %>
  </div>
  <div class="banner-featured-button">
    <%= link_to 'Read more', products_path, class: "btn-gold"%>
  </div>
</div>
