<div class="banner-featured">
  <h3><%= @new_season_product.name.capitalize %> season is coming soon! </h3>
  <%= image_tag @new_season_product.photo %>
  <%= link_to 'Read more', product_path(@new_season_product), class: "btn btn-gold"%>
</div>
