<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a href="">AGB</a> | <a href="">Private Policy</a> | <a href="">FAQ</a> | <a href="">Impressum</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
