<div class="card-post">
  <%= image_tag 'product', class:"card-post-img" %>
  <div class="card-post-body">
    <p>12. Februar 2020</p>
    <h3><%= post.title %></h3>
    <p><%= post.content %></p>
  </div>
  <%= image_tag 'avatar', class:"avatar-large card-post-avatar" %>
</div>
