<div class="card-post">
  <%= image_tag 'product', class:"card-post-img" %>
  <div class="card-post-body">
    <p>12. Februar 2020</p>
    <h3>An apple a day keeps the doctor away.</h3>
    <p>Detailed information such as seasonal offers, new products special promotions or attendances at marktets.</p>
  </div>
  <%= image_tag 'avatar', class:"avatar-large card-post-avatar" %>
</div>
