<div class="card-producer">
  <i class="far fa-heart heart-empty card-producer-heart"></i>
  <%= image_tag 'product', class:"card-producer-img" %>
  <div class="card-producer-body">
    <h3>This is a title</h3>
    <div class="card-producer-address">
      <p>Street</p>
      <p>City</p>
      <p>Region</p>
    </div>
    <div class="card-producer-distance">
      <p>12km</p>
    </div>
  </div>
</div>
