<div class="container-fluid">
  <%= render 'shared/banner-home' %>
  <div class="container-content">
    <div class="workflow-banner">
      <%= image_tag "workflow_home.svg", alt: "Chart of how the service works" %>
    </div>
  </div>
</div>
