<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <i class="fas fa-heart heart-full"></i>
  <i class="far fa-heart heart-empty"></i>
    <p>This is a product-card:</p>

    <div class="card-product">
      <%= image_tag 'product', class:"card-product-img" %>
      <div class="card-product-body">
        <h3>This is a title</h3>
        <p>This is the subtitle</p>
      </div>
    </div>


    <p>This is a producer-card:</p>

    <div class="card-product">
      <div class="card-product-img"></div>
      <div class="card-product-body">
        <h3>This is a title</h3>
        <p>This is the subtitle</p>
      </div>
      </div>
    </div>
</div>
