<div class="post-index container-fluid">
  <br>
  <div id="header">
    <h1>Hello <%= current_user.username %> !</h1>
    <h4>How are you today?</h4>
  </div>
  <div class="newsfeed-menu">
    <div class="newsfeed-menu-left">
      <div class="newsfeed-menu-products">
        <%= link_to products_path do %>
          <p>Discover new products</p>
        <% end %>
        <img id="products_search" src="assets/products_search.svg" alt="">
      </div>
      <div class="newsfeed-menu-options">
        <div class="account">Edit your account</div>
        <div class="favourite-products">Your favourite products</div>
      </div>
    </div>

    <div class="newsfeed-menu-right">
      Your favourite producers
      <img id="producer_marker" src="assets/producer_marker.svg" alt="producer_marker">
      <img id="producer_icon" src="assets/producer_icon.svg" alt="producer_marker">
    </div>
  </div>

  <br>
  <h2 id="updates">Updates</h2>

      <%= render partial: 'shared/post-card', collection: @posts, as: :post %>
    </div>
  </div>
