
.sign-in {
  padding: 30px;
  display: flex;
  align-items: center;
  p {
    color: $olive;
  }
  #user_email {
    text-align: center;
    border-radius: 5px;
  }
  #user_password {
    text-align: center;
    border-radius: 5px;
  }
  #user_address {
    text-align: center;
    border-radius: 5px;
  }
  #user_password_confirmation {
    text-align: center;
    border-radius: 5px;
  }
}

.form-control.is-valid {
  border-color: white !important;
  background: white !important;
}

.forgot-pw a {
  color: $olive;
}

.link-forms a {
  text-align: center;
  color: $olive;
}
