.navbar-lewagon {
  justify-content: space-between;
  background: white;
  h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: bold;
    font-family: $body-font;
    color: $olive;
    span {
      font-weight: 100;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
  color: $gold !important;

}
.navbar-toggler-icon {
  border: none;
  color: $gold !important;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
