// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/layout";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/product_index";
@import "pages/posts_index";
@import "pages/home";
@import "pages/users_product_index";
@import "pages/devise_registrations_edit";


a {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  color: $olive;
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;
}

.title {
  text-align: center;
  background-color: white;
}

h1, h3, h2, h4 {
  color: $olive;
  font-family: Merriweather;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  h1 {
    font-size:35px;
  }
  h2 {
    font-size:30px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  h1 {
    font-size:40px;
    }
  h2 {
    font-size:35px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  h1 {
    font-size:50px;
    }
  h2 {
    font-size:45px;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  h1 {
    font-size:55px;
    }
  h2 {
    font-size:50px;
  }
 }
